@{
    ViewBag.Title = "FeedbackUV";
    Layout = null;
}

<!DOCTYPE html>
<link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/bootstrap/css/Feedback_Style.css" rel="stylesheet" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Feedback Ứng Viên</title>
</head>
<body style="padding-top:10%">
    <div>
        <a href="javascript:history.back()"><button class="btn btn-danger mt-3" style="margin-left:100px;width:100px"><b>Quay Lại </b></button></a>
    </div>
    <div class="container">
        <form action="https://formspree.io/f/xrgwverr" method="POST">
            <h2>FEEDBACK ỨNG VIÊN</h2>
            <div class="row">
                <div class="col-4">
                    <label>Email Ứng Viên:</label>
                </div>
                <div class="col-8">
                    <input type="email" name="Email ứng viên" value="@Session["emailUV"]" readonly>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label>Tên ứng viên:</label>
                </div>
                <div class="col-8">
                    <input type="text" name="Tên ứng viên" value="@Session["tenUV"]" readonly>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label>Feedback, góp ý:</label>
                </div>
                <div class="col-8">
                    <textarea rows="5" cols="60" name="Feedback từ Ứng Viên"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-8">
                    <button type="submit">Send</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>