@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/_LayoutPage_NUT.cshtml";}

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <h2>Liên hệ với chúng tôi</h2>
        </div>
        <div class="col-7">
            <a href="javascript:history.back()"><button class="btn btn-danger mt-1" style="width:100px"><b>Quay Lại </b></button></a>
        </div>
    </div>
    <div class="row">
        <p>
            <b>Hồ Thanh Tùng<br /></b>
            Mã SV: 2001207452<br />
            SDT: 0795 968 851<br />
            Email:	 hothanhtung0611@gmail.com<br />
            <br /><br />
            <b>Trần Đình Trung Tín<br /></b>
            Mã SV: 2001200653<br />
            SDT: 0563 842 179<br />
            Email:	 tins8153@gmail.com<br />
            <br /><br />
            <b>Nguyễn Lê Hữu Thắng<br /></b>
            Mã SV: 2001207313<br />
            SDT: 0373 240 911<br />
            Email:	 huuthang19902@gmail.com<br />
        </p>
    </div>
</div>

