@{
    ViewBag.Title = "DanhSachCongViecVaDoanhNghiep";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <table>
                <tr>
                    <th><font face="Verdana"><h2 style="text-align:center"><b>Danh Sách Công Việc</b></h2></font></th>
                    <td>
                        <a href="/Home/DS_CongViec"><button class="btn btn-danger w-100 mt-3" style="margin-left:10px;margin-bottom:15px"><b>Load Danh Sách Công Việc</b></button></a>
                    </td>
                </tr>
            </table>

        </div>
        <div class="col-6">
            <table>
                <tr>
                    <th><font face="Verdana"><h2 style="text-align:center"><b>Danh Sách Doanh Nghiệp</b></h2></font></th>
                    <td>
                        <a href="/Home/DS_DoanhNghiep"><button class="btn btn-danger w-100 mt-3" style="margin-left:10px;margin-bottom:15px"><b>Load Danh Sách Doanh Nghiệp</b></button></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

