
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FormUngTuyen</title>
</head>
<body>
    <div class="container" style="background:url(./Images/phongcanhanime.JPG); background-size: cover; height: 100%; background-repeat: no-repeat;">
        <div style="margin-top: 0.1%; margin-right: 30%; float: right; width: 500px; background-color: #fff; border-radius: 15px;">
            <div style="padding: 20px 0PX 0PX 0PX; "><img width="100%" src="" alt=""></div>
            <div style="padding: 0px 0PX 0PX 0PX;text-align:center;"><img width="40%" src="" alt=""></div>
            <h3 style="text-align:center; color:#090 ; font-weight: 600;"><b>FORM ỨNG TUYỂN</b></h3>
            <div>

            </div>
            <form name="F1" method="post" style="margin: 0 auto; padding: 10px 20px;">
                <label for=""><b>Họ và tên</b></label><br>
                <td> <input type="text" placeholder="Nhập họ và tên" size="60" id="txt_NameSender" name="txt_NameSender" /></td>
                <br><br>
                <label for=""><b>Số điện thoại</b></label><br>
                <td> <input type="number" placeholder="Nhập số điện thoại" size="60" id="txt_PhoneNumSender" name="txt_PhoneNumSender" /></td>
                <br><br>
                <label for=""><b>Năm sinh</b></label><br>
                <td> <input type="text" placeholder="Nhập năm sinh" size="60" id="txt_AddSender" name="txt_AddSender" /></td>
                <br><br>
                <label for=""><b>Link CV</b></label><br>
                <td> <input type="text" placeholder="Nhập link chứa CV" size="60" id="txt_AddSender" name="txt_AddSender" /></td>
                <br><br>
                <a href=""><input class="btn-sub" type="button" value="BUY" style="width:100%; cursor: pointer; background: green; color: #fff;"></a>
            </form>
        </div>
    </div>
</body>
</html>
