
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/bootstrap/css/GD_TongHop.css" rel="stylesheet" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GiaoDienDangNhapTongHop</title>
</head>
<body >
    <div class="container-fluid mt-3 ">
        <div class="row">
            <div class="col-3">
                <h3><a href="javascript:history.back()" style="color:white"><button type="button" class="button-trangchu"><b>Trang Chủ</b></button></a></h3>
            </div>
            <div class="col-9">
                `
                <h2 style="color:white;margin-left:2%;"><b>Đăng nhập tài khoản để trải nghiệm tốt hơn!</b></h2>
                <h2 style="color:white;margin-left:10%;">Chào Mừng Bạn Đến Với Triplet-JS</h2>
            </div>
        </div>
        <div class="row" style="margin-left:200px;color:white">
            <h2>Để đăng nhập  mời bạn nhập vào tùy chọn tương ứng </h2>
        </div>
        <div class="row">
            <div class="col-1" style="margin-left:200px;color:white">
                <h2>Bạn là: </h2>
            </div>
            <div class="col-2">
                <a href="/UngVien/DangNhapUV" style="color:white"><button type="button" class="btn btn-success" style="margin-left: 30px;width:180px"><b>Ứng Viên</b></button></a>
            </div>
        </div>
        <div class="row">
            <div class="col-1" style="margin-left:200px;color:white">
                <h2>Bạn là: </h2>
            </div>
            <div class="col-2">
                <a href="/DoanhNghiep/DangNhapDN" style="color:white"><button type="button" class="btn btn-success" style="margin-left: 30px;width:180px"><b>Doanh Nghiệp</b></button></a>
            </div>
        </div>
        <div class="row">
            <div class="col-1" style="margin-left:200px;color:white">
                <h2>Bạn là: </h2>
            </div>
            <div class="col-2">
                <a href="/Admin/DangNhapAdmin" style="color:white"><button type="button" class="btn btn-success" style="margin-left: 30px;width:180px"><b>ADMIN</b></button></a>
            </div>
        </div>
        <div class="row p-5">
            <marquee behavior="scroll" style="height: 100px;width:100%; margin-top: 5px;" bgcolor="orange">
                <h1 style="line-height: 100px; color: #ffffff;">Chúc bạn một ngày mới tốt lành!</h1>
            </marquee>
        </div>
    </div>
</body>
</html>
