@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_Layoutpage1.cshtml";
}


<div class="container-fluid">
    <div class="row">
        <a href="javascript:history.back()"><button class="btn btn-danger mt-2" style="width:100px"><b>Quay Lại </b></button></a>
    </div>
    <div class="row">
        <h2>Chào mừng bạn đến với Triplet-JS - Nền tảng Tìm kiếm Việc làm!</h2><br />
        <h3>Về chúng tôi</h3><br />
        <p>Chúng tôi là một nhóm gồm 3 sinh viên. Với sự kết hợp đội ngũ đa ngành, chúng tôi tập trung vào việc tạo ra một trải nghiệm tìm kiếm việc làm đơn giản và linh hoạt cho người tìm việc và doanh nghiệp.</p><br />
        <p> Người Hướng Dẫn : Nguyễn Văn Tùng</p><br />
        <h3>Tại sao nên chọn chúng tôi?</h3><br />
        <b>Liên kết Độc quyền:</b><br />
        <p>Chúng tôi tự hào là đối tác độc quyền với một số công ty hàng đầu. Điều này giúp chúng tôi mang lại những cơ hội việc làm hàng đầu, đặc biệt được tùy chỉnh và phù hợp với nhu cầu cụ thể của ứng viên.</p><br />
        <b>Tích hợp thông tin Chi tiết:</b><br />
        <p>Chúng tôi cung cấp thông tin chi tiết về các vị trí việc làm, giúp bạn hiểu rõ về yêu cầu công việc, môi trường làm việc và những lợi ích mà doanh nghiệp mang lại. Điều này giúp ứng viên đưa ra quyết định thông tin và có lựa chọn đúng đắn.</p><br />
        <b>Trải nghiệm Tìm kiếm Linh hoạt:</b><br />
        <p>Với giao diện người dùng thân thiện và tính năng tìm kiếm mạnh mẽ, chúng tôi tạo điều kiện thuận lợi cho bạn tìm kiếm công việc dễ dàng. Bạn có thể lọc kết quả theo ngành nghề, địa điểm và tiêu chí khác.</p><br />
        <b>Hỗ trợ Tư vấn Nghề nghiệp:</b><br />
        <p>Chúng tôi cam kết đồng hành cùng bạn trên hành trình tìm kiếm việc làm. Dịch vụ tư vấn nghề nghiệp của chúng tôi giúp bạn xây dựng sự nghiệp và phát triển kỹ năng cần thiết để thành công trong ngành.</p><br />
    </div>
</div>



