
@{
    ViewBag.Title = "IndexADMIN";
    Layout = "~/Views/Shared/_LayoutPage_Ad.cshtml";
}

<div class="container-fluid">
    <h2>Những quy tắc Khi làm quản lý Website của Triplet-JS</h2>
    <p>
        - Về quy tăc có những điều sau: <br />
        <b>1.</b> Luôn chấp hành đúng quy định pháp luật.<br />
        <b>2.</b> Luôn xác thực đúng những điều khoản mà doanh nghiệp đã đăng ký trước khi duyệt doanh nghiệp.<br />
        <b>3.</b> Luôn dựa trên những yếu tố đã xác thực  trước khi duyệt bài đăng.<br />
        <b>4.</b> Khi thêm, xóa một công việc mới phải hợp ban quản lý (3 bạn sinh viên )trước khi thêm dữ liệu vào.<br />
        <b>5.</b> Các thành viên luôn phải cập nhập tin tức mới để phải triển mới mẻ website theo từng ngày. <br />
    </p>
    <br />

    <h2> Hãy luôn nhớ những giá trị cốt lõi </h2>
    <p>
        <b>1.</b>    Intergrity -Chính trực và cam kết<br />
        <b>2.</b>    Open Minded - Cởi mở và tích cực<br />
        <b>3.</b>    People First - Tập trung vào con người<br />
        <b>4.</b>    Excellence - Hướng tới sự xuất sắc<br />
        <b>5.</b>    Innovation - Liên tục thay đổi để dẫn đầu<br />
        <b>6.</b>    Move Fast - Phát triển nhanh<br />
    </p>
    <br />
    <h2>5 điều Bác đã dạy</h2>
    <p>
        <b>1.</b>    Yêu Tổ quốc, yêu đồng bào<br />
        <b>2.</b>    Học tập tốt, lao động tốt<br />
        <b>3.</b>    Đoàn kết tốt, kỷ luật tốt<br />
        <b>4.</b>    Giữ gìn vệ sinh thật tốt<br />
        <b>5.</b>    Thật thà, dũng cảm<br />
    </p>
</div>


