@using WebSite_DKTKViecLam.Models;
@model List<LOAICONGVIEC>
<!DOCTYPE html>
<link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/bootstrap/css/Style_QL.css" rel="stylesheet" />
<html ur;>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thêm Công Việc</title>
</head>
<body style="background-image:url(/Hinh//Background.jpg); background-size:cover;font-size:16px;">
    <div class="container" style="margin-left:35%">
        <div class="row" style="margin-top:20%;">
            <form action="/Admin/Them_Congviec" method="post" style="max-width:650px;background: rgba(0,0,0,0.8);opacity:0.8;flex-grow:1;padding: 10px 15px 30px 10px;box-shadow: 0px 0px 17px 2px rgba(255, 255, 255, 0.8) " enctype="multipart/form-data">
                <table style="color:white">
                    <tr>
                        <td><h2 style="text-align:center"><b>Thêm công việc</b></h2></td>
                    </tr>
                    <tr>
                        <td>Nhập tên công việc mới:</td>
                    </tr>
                    <tr>
                        <td><input type="text" placeholder="Nhập tên công việc" name="congviec" style="width:430px;color:black;"></td>

                    </tr>
                    <td>
                        <input type="file" id="uploadhinh" name="uploadhinh" accept="image/*" />
                    </td>
                    <td><button type="submit" class="button-them "><b>Thêm công việc</b></button></td>
                </table>
            </form>
        </div>
    </div>
</body>
</html>
