@model WebSite_DKTKViecLam.Models.DOANHNGHIEP

@{
    Layout = null;
}
<!DOCTYPE html>
<link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/bootstrap/css/StyleDangky.css" rel="stylesheet" />
<link href="~/bootstrap/css/App-DangKy.css" rel="stylesheet" />
<link href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" rel="stylesheet" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Đăng Ký Doanh Nghiệp</title>
    <style>
        .pointer {
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="container-fluid mt-3">
        <div class="row">
            <div class="col-3">
                <h3><a href="/Home/Index" style="color:white"><input type="button" value="Trang Chủ " class="button-trangchu"></a></h3>
            </div>
        </div>
        <div class="row" id="wrapper">
            <form action="#" method="post" style="margin-left:600px;" id="form-register-dn-uv">
                <h2 style="text-align:center"><b>Đăng ký doanh nghiệp</b></h2>
                <h5 style="text-align:center">Chào Mừng Bạn Đến Với Triplet-JS</h5>
                <div class="form-group">
                    <div>Email:</div>
                    <input type="email" class="form-input" id="email" placeholder="Nhập email" name="dkyemaildn" style="width:430px;color:white;">
                </div>
                <div class="form-group">
                    <div>Mật khẩu:</div>
                    <input type="password" class="form-input" id="pwd" placeholder="Nhập mật khẩu" name="dkymatkhaudn" style="width:430px;color:white;">
                    <i id="eye" class="pointer far fa-eye" style="width:25.75px;margin-left:28px" "></i>
                </div>
                <div class="form-group">
                    <div>Xác nhận mật khẩu:</div>
                    <input type="password" class="form-input" id="pwd" placeholder="Nhập lại mật khẩu" name="dkyxacnhanmatkhaudn" style="width:430px;color:white;">
                    <i id="eye1" class="pointer far fa-eye" style="width:25.75px;margin-left:28px"></i>
                </div>
                <div class="form-group">
                    <div>Tên doanh nghiệp:</div>
                    <input type="text" class="form-input" id="pwd" placeholder="Nhập tên doanh nghiệp" name="dkytendn" style="width:430px;color:white;">
                </div>
                <div class="form-group">
                    <div>Địa Chỉ:</div>
                    <input type="text" class="form-input" id="pwd" placeholder="Nhập địa chỉ" name="dkydiachidn" style="width:430px;color:white;">
                </div>
                <div class="form-group">
                    <div>Số điện thoại:</div>
                    <input type="text" class="form-input" id="pwd" placeholder="Nhập số điện thoại" name="dkysdtdn" style="width:430px;color:white;">
                </div>
                <div >
                    <div>Tỉnh thành:</div>
                    <select class="form-control" id="province" name="dkytinhthanhdn">
                        <option value="">Chọn tỉnh thành</option>
                        <option value="An Giang">An Giang</option>
                        <option value="Bà Rịa - Vũng Tàu">Bà Rịa - Vũng Tàu</option>
                        <option value="Bạc Liêu">Bạc Liêu</option>
                        <option value="Bắc Giang">Bắc Giang</option>
                        <option value="Bắc Kạn">Bắc Kạn</option>
                        <option value="Bắc Ninh">Bắc Ninh</option>
                        <option value="Bến Tre">Bến Tre</option>
                        <option value="Bình Định">Bình Định</option>
                        <option value="Bình Dương">Bình Dương</option>
                        <option value="Bình Phước">Bình Phước</option>
                        <option value="Bình Thuận">Bình Thuận</option>
                        <option value="Cà Mau">Cà Mau</option>
                        <option value="Cần Thơ">Cần Thơ</option>
                        <option value="Cao Bằng">Cao Bằng</option>
                        <option value="Đà Nẵng">Đà Nẵng</option>
                        <option value="Đắk Lắk">Đắk Lắk</option>
                        <option value="Đắk Nông">Đắk Nông</option>
                        <option value="Điện Biên">Điện Biên</option>
                        <option value="Đồng Nai">Đồng Nai</option>
                        <option value="Đồng Tháp">Đồng Tháp</option>
                        <option value="Gia Lai">Gia Lai</option>
                        <option value="Hà Giang">Hà Giang</option>
                        <option value="Hà Nam">Hà Nam</option>
                        <option value="Hà Nội">Hà Nội</option>
                        <option value="Hà Tĩnh">Hà Tĩnh</option>
                        <option value="Hải Dương">Hải Dương</option>
                        <option value="Hải Phòng">Hải Phòng</option>
                        <option value="Hậu Giang">Hậu Giang</option>
                        <option value="Hòa Bình">Hòa Bình</option>
                        <option value="Hưng Yên">Hưng Yên</option>
                        <option value="Khánh Hòa">Khánh Hòa</option>
                        <option value="Kiên Giang">Kiên Giang</option>
                        <option value="Kon Tum">Kon Tum</option>
                        <option value="Lai Châu">Lai Châu</option>
                        <option value="Lâm Đồng">Lâm Đồng</option>
                        <option value="Lạng Sơn">Lạng Sơn</option>
                        <option value="Lào Cai">Lào Cai</option>
                        <option value="Long An">Long An</option>
                        <option value="Nam Định">Nam Định</option>
                        <option value="Nghệ An">Nghệ An</option>
                        <option value="Ninh Bình">Ninh Bình</option>
                        <option value="Ninh Thuận">Ninh Thuận</option>
                        <option value="Phú Thọ">Phú Thọ</option>
                        <option value="Phú Yên">Phú Yên</option>
                        <option value="Quảng Bình">Quảng Bình</option>
                        <option value="Quảng Nam">Quảng Nam</option>
                        <option value="Quảng Ngãi">Quảng Ngãi</option>
                        <option value="Quảng Ninh">Quảng Ninh</option>
                        <option value="Quảng Trị">Quảng Trị</option>
                        <option value="Sóc Trăng">Sóc Trăng</option>
                        <option value="Sơn La">Sơn La</option>
                        <option value="Tây Ninh">Tây Ninh</option>
                        <option value="Thái Bình">Thái Bình</option>
                        <option value="Thái Nguyên">Thái Nguyên</option>
                        <option value="Thanh Hóa">Thanh Hóa</option>
                        <option value="Thừa Thiên Huế">Thừa Thiên Huế</option>
                        <option value="Tiền Giang">Tiền Giang</option>
                        <option value="TP.HCM">TP. Hồ Chí Minh</option>
                        <option value="Trà Vinh">Trà Vinh</option>
                        <option value="Tuyên Quang">Tuyên Quang</option>
                        <option value="Vĩnh Long">Vĩnh Long</option>
                        <option value="Vĩnh Phúc">Vĩnh Phúc</option>
                        <option value="Yên Bái">Yên Bái</option>
                    </select>
</div>
                <div >
                    <div>Năm thành lập:</div>
                    <select class="form-control" id="year" name="dkynamthanhlapdn" >
                        <option value="" style="color:black">Chọn năm</option>
                    </select>
                </div>
                <br />
                <div class="col-md-12" style="color:white">
                    @Html.ValidationSummary()
                </div>
                <div>
                    <button type="submit" class="form-submit" style="color:white;margin-right:300px"><b>Đăng Ký</b></button>
                </div>
                <div>
                    <br />
                    <a style="color:white;"> Nếu có tài khoản thì đăng nhập ở đây! </a>
                    <a href="/DoanhNghiep/DangNhapDN" style="color:white"><input type="button" value="Đăng Nhập" class="DN-dn-uv"></a>
                </div>
            </form>
        </div>
    </div>
    <br />
    <br />
    <br />
</html>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="~/bootstrap/js/App-DK-JS.js"></script>
<script>
    var select = document.getElementById("year");
    var currentYear = new Date().getFullYear();

    for (var year = 2000; year <= currentYear; year++) {
        var option = document.createElement("option");
        option.text = year;
        option.value = year;
        select.appendChild(option);
    }
</script>
